<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
            border-collapse: collapse;
            width: 100%;
            position: center;
            }

            th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            }

            th {
            background-color: #f2f2f2;
        }
        </style>
        <title>API</title>
    </head>
    <body>
        <h2>Daftar List API</h2>
        <table>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Method</th>
            <th>Response</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.URL}}t</td>
            <td>{{.Method}}</td>
            <td>{{.Response}}</td>
        </tr>
        {{end}}
        </table>
    </body>
</html>
